{% extends "first_blog/base_template.html" %}  <!--Extends the content from base_template.html -->
{% block content %}
    <h1 class = "mb-3">Posts by: {{view.kwargs.username}} ({{page_obj.paginator.count}})</h1>


    {% for post in fake_Post %}

        <article class="media content-section">
        <!-- Import a round circle article picture from the url that
        posted by the author in their profile-->
        <img class ="rounded-circle article-img", src = "{{post.author.profile.image.url}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{%url 'user_posts' post.author.username%}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              <!-- Format date in html -->
            </div>

            <!-- For each post in fake_Post create links to each detail post page, according to its post id-->
            <h2><a class="article-title" href="{% url 'post_detail' post.id%}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}

    {% if is_paginated %}

        <!-- Create buttons for users to navigate to first page or previous page, if previous post exists-->
        {% if page_obj.has_previous %}
            <a class = "btn btn-outline-info mb-4" href = "?page=1">First</a>
            <a class = "btn btn-outline-info mb-4" href = "?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}


        {% for num in page_obj.paginator.page_range %}

            <!-- If num is current page number -->
            {% if page_obj.number == num %}
                <!-- Print out current page-->
                <a class = "btn btn-info mb-4" href = "?page={{num}}">{{num}}</a>


            <!-- Create buttons for pages which are within 3 pages surrounding by current page-->
            <!-- eg: Cur_page = 4, should be able to see button for page 2,3 and page 5,6-->
            {% elif page_obj.number|add:'-3' < num and page_obj.number|add:'3' > num %}
                <a class = "btn btn-outline-info mb-4" href = "?page={{num}}">{{num}}</a>
            {% endif %}

        {% endfor %}


        <!-- Create buttons for users to navigate to next page and last page, if posts has next-->
        {% if page_obj.has_next %}
            <a class = "btn btn-outline-info mb-4" href = "?page={{page_obj.next_page_number}}">Next</a>
            <a class = "btn btn-outline-info mb-4" href = "?page={{page_obj.paginator.num_pages}}">Last</a>
        {% endif%}

    {% endif %}


{% endblock content %}